@page "/"
@using Microsoft.AspNetCore.Components.Web
@namespace Links.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="~/" />
    <link href="css/site.css" rel="stylesheet" />
    <link href="Links.styles.css" rel="stylesheet" />
    <link rel="icon" type="image/png" href="favicon.png"/>
    <component type="typeof(HeadOutlet)" render-mode="ServerPrerendered" />
    <script type="module" src="https://cdn.jsdelivr.net/npm/@@fluentui/web-components/dist/web-components.min.js"></script>
</head>
<body>
    <component type="typeof(App)" render-mode="ServerPrerendered" />

    <div id="blazor-error-ui">
        <environment include="Staging,Production">
            An error has occurred. This application may no longer respond until reloaded.
        </environment>
        <environment include="Development">
            An unhandled exception has occurred. See browser dev tools for details.
        </environment>
        <a href="" class="reload">Reload</a>
        <a class="dismiss">🗙</a>
    </div>

    <script src="_framework/blazor.server.js"></script>
    <script>
              
        const panel = document.getElementById("left_panel");


        function resize(e) {
            if (e.pageX>250){
            left_panel.style.width = e.pageX - left_panel.getBoundingClientRect().left + 'px'
            }
           
        }

        function panelclick(e){

                if (Math.abs(e.pageX - left_panel.getBoundingClientRect().right)<10){
            e.preventDefault()
            window.addEventListener('mousemove', resize)
            window.addEventListener('mouseup', stopResize)
                }

           
          
            //if (e.offsetX < parseInt(getComputedStyle(panel, '').width + BORDER_SIZE)) {
            //    m_pos = e.x;
            //    document.addEventListener("mousemove", resize, false);
            //}
        }

        function stopResize() {
            window.removeEventListener('mousemove', resize)
        }

    </script>
</body>
</html>
