@page "/Viewer/{nodeId:int}"
@*@page "/Viewer/{mainNodeId:int}/{nodeId:int}"*@


    <div id="viewer_header">

    <div style="display: flex;align-items: center; margin-left:33px">
      @*  <svg class="icon" viewBox="0 0 32 32" style="border:none">
            @((MarkupString)node.NodeType.Icon)
        </svg>*@
        <i > @node?.NodeName</i>
   
    </div>
   
   
    <div class="drop-left-menu">

        @if (mode == 1)
        {
            <svg @onclick="()=>ChangeEditStatus(2)" class="icon btn"><use xlink:href="symbol-defs.svg#icon-document-edit"></use></svg>


            <svg @onclick="()=>ChangeEditStatus(3)" class="icon btn"><use xlink:href="symbol-defs.svg#icon-settings"></use></svg>
        }
            else if (mode == 2)
            {
            <svg @onclick="()=>ChangeEditStatus(1)" class="icon btn"><use xlink:href="symbol-defs.svg#icon-eye"></use></svg>
            <svg @onclick="()=>ChangeEditStatus(3)" class="icon btn"><use xlink:href="symbol-defs.svg#icon-settings"></use></svg>
        }
            else if (mode == 3)
            {
            <svg @onclick="()=>ChangeEditStatus(1)" class="icon btn"><use xlink:href="symbol-defs.svg#icon-eye"></use></svg>
            <svg @onclick="()=>ChangeEditStatus(2)" class="icon btn"><use xlink:href="symbol-defs.svg#icon-document-edit"></use></svg>
            }

     
    @*    @((MarkupString)node.NodeType.Icon)*@
       @* </div>
      
         <span class="oi oi-grid-three-up drop-btn icon-btn"></span>*@
          
    </div>    

</div>


@if (mode == 1)
{
    <Links.Components.ViewComponent node="node"></Links.Components.ViewComponent>
}
else if (mode == 2)
{
    <Links.Components.EditComponent node="node"></Links.Components.EditComponent>
}
else if (mode == 3)
{
    <Links.Components.NodeSettings node="node"></Links.Components.NodeSettings>
}







